.calc-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;;
}
.input-val{
  height: 60px;
}
.calcBtns{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 25vw;
}
.calcBtns button{
  border: 2px solid gray;
  height: 60px;
  width: 60px;
}