.calc-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.ttl-display{
  border: 2px solid gray;
  border-radius: 8px;
  box-shadow: 2px 2px gray;
  height: 60px;
  margin: 10px auto;
  width: 90%;
}
.calcBtns{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
}
.calcBtns button{
  border: 2px solid gray;
  height: 60px;
  width: 60px;
}
.nums{
  width: 270px;
}
.operations{
  display: flex;
  flex-direction: column;
}
.nums button, 
.operations button {
  font-size: 3em;
  padding: 0;
  text-align: center;
}
.nums button:hover, 
.operations button:hover {
  color: white;
  cursor: pointer;
  background-color: black;
  font-weight: 600;
}